<div class="container-fluid">
  <div id="home" class="row align-items-center hero">
    <div class="col-lg-3 offset-lg-2">
      <p>te estabamos esperando</p>
      <h1>Bienvenido a casa</h1>
    </div>
  </div>
</div>

<div id="servicios" class="service row row-cols-1 row-cols-md-2 g-4 scroll-section">
  <div class="col">
    <a href="https://www.bibliaon.com/es/devocional_diario/" target="_blank"
      style="color: inherit; text-decoration: none;">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/img/img1.jpg" class="card-img-top" alt="...">
    </a>
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <a href="https://www.bibliaon.com/es/devocional_diario/" target="_blank"
        style="color: inherit; text-decoration: none;">
        <h5 class="card-title">devocional diario</h5>
      </a>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
        content. This content is a little bit longer.</p>
    </div>
  </div>
</div>
</div>

</div>
<div class="col">
  <a href="https://open.spotify.com/playlist/3U7F6ooo6JEJH9a8c36rU9" target="_blank"
    style="color: inherit; text-decoration: none;">
    <div class="card">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/img/img2.jpg" class="card-img-top" alt="...">
  </a>
</div>
<div class="col-md-8">
  <div class="card-body">
    <a href="https://open.spotify.com/playlist/3U7F6ooo6JEJH9a8c36rU9" target="_blank"
      style="color: inherit; text-decoration: none;">
      <h5 class="card-title">cdv Music</h5>
    </a>
    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
      content. This content is a little bit longer.</p>
  </div>
</div>
</div>
</div>
</div>
<div class="col">
  <a href="http://iete.com.ar/" target="_blank" style="color: inherit; text-decoration: none;">
    <div class="card">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/img/img3.jpeg" class="card-img-top" alt="...">
  </a>
</div>
<div class="col-md-8">
  <div class="card-body">
    <a href="http://iete.com.ar/" target="_blank" style="color: inherit; text-decoration: none;">
      <h5 class="card-title">Escuela Joven</h5>
    </a>
    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
      content.</p>
  </div>
</div>
</div>
</div>
</div>
<div class="col">
  <a href="https://www.google.com/" target="_blank" style="color: inherit; text-decoration: none;">
    <div class="card">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/img/img4.jpg" class="card-img-top" alt="...">
  </a>
</div>
<div class="col-md-8">
  <div class="card-body">
    <a href="https://www.google.com/" target="_blank" style="color: inherit; text-decoration: none;">
      <h5 class="card-title">consultoría</h5>
    </a>
    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
      content.</p>
  </div>
</div>
</div>
</div>
</div>
</div>


<div id="novedades" class="notice row card-2 scroll-section">
  <div class="col-md-6 mb-3">
    <div class="card-2">
      <div class="row g-0">
        <div class="col-md-4">
          <video controls class="img-fluid">
            <source src="/video/publicidad.mp4" type="video/mp4">
          </video>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">prendemos stream con Enciende Podcast</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, atque blanditiis!
              Voluptatum laudantium dolorem hic. Dolores tenetur, officiis maiores quibusdam voluptatem consectetur
              esse quasi suscipit veniam voluptatum nostrum possimus autem.</p>
            <p class="card-text">
              <small class="text-muted">
                <a href="https://www.youtube.com/" class="link-live" target="_blank"><span class="alerta">transmisión
                    en VIVO</span></a>
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 mb-3">
    <div class="card-2">
      <div class="row g-0">
        <div class="col-md-4">
          <video controls class="img-fluid">
            <source src="/video/retiro.mp4" type="video/mp4">
          </video>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Retiro de CDV JOVEN</h5>
            <p class="card-text">¡te mostramos un poco de lo que fue nuestro ultimo retiro! no te podes quedar afuera
              del próximo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi amet rem corporis a atque!
              Soluta, doloremque iste suscipit inventore architecto nam temporibus quae quisquam commodi ut laboriosam
              laudantium ipsa eius</p>
            <p class="card-text">
              <small class="text-muted">
                <a href="https://www.google.com/intl/es-419_ar/forms/about/" class="link-styled"
                  target="_blank">¡Inscríbete aquí!</a>
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contacto" class="row py-4">
    <div class="col-md-4 offset-md-2">
      <h2>Visitanos</h2>
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.0836729106704!2d-58.82161522440348!3d-27.466654316576683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94456b5d18951301%3A0x4f0df1035fd752e!2sCatedral%20de%20Vida!5e0!3m2!1ses!2sar!4v1717497147585!5m2!1ses!2sar"></iframe>
      </div>
    </div>
    <div class="col-md-4 mt-4 mt-sm-0">
      <h2>contactanos</h2>
      <div class="form-container">
        <form class="row g-3" action="/" method="post">
          <div class="col col-md-6">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre">
          </div>
          <div class="col col-md-6">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido">
          </div>
          <div class="col-12">
            <label for="email" class="form-label">email</label>
            <input type="email" class="form-control" id="aemail" name="email" placeholder="email@email.com">
          </div>
          <div class="col-12">
            <label for="tel" class="form-label">Tel</label>
            <input type="text" class="form-control" id="tel" name="tel" placeholder="...">
          </div>
          <div class="col-12">
            <label for="mensaje" class="form-label">mensaje</label>
            <textarea class="form-control" id="mensaje" name="mensaje" rows="3"></textarea>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">enviar</button>
          </div>
        </form>
        {{message}}
      </div>
    </div>